<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxd.opencms.dao.AdminDao">
	<resultMap id="BaseResultMap" type="admin">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
		<result column="TRUENAME" property="truename" jdbcType="VARCHAR" />
		<result column="LOCKED" property="locked" jdbcType="DECIMAL" />
		<result column="SUPER_ADMIN" property="superAdmin" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, MOBILE, EMAIL, PASSWORD, NICKNAME, TRUENAME, LOCKED,
		SUPER_ADMIN
	</sql>

	<select id="findByGroupid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		t1.ID, t1.MOBILE, t1.EMAIL, t1.PASSWORD,
		t1.NICKNAME, t1.TRUENAME,
		t1.LOCKED, t1.SUPER_ADMIN
		from admin
		t1,admin_group t2,admin_group_middle t3
		where t1.id = t3.admin_id and
		t2.id = t3.group_id and t2.id = #{groupId}
	</select>
	<select id="findByMobile" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ADMIN where mobile = #{mobile}
	</select>
	<select id="findByEmail" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ADMIN where EMAIL = #{email}
	</select>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			<include refid="Base_Column_List" />
		from ADMIN where id = #{id,jdbcType=INTEGER}
	</select>

	<insert id="insert" parameterType="com.wxd.opencms.pojo.Admin" useGeneratedKeys="true" keyProperty="id">
		insert into admin
		(MOBILE, EMAIL,PASSWORD, NICKNAME, TRUENAME,LOCKED, SUPER_ADMIN)
		values
		( #{mobile,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
		#{nickname,jdbcType=VARCHAR},
		#{truename,jdbcType=VARCHAR},#{locked,jdbcType=DECIMAL},
		#{superAdmin,jdbcType=DECIMAL})
	</insert>


	<update id="updatePwdById">
		update admin set password= #{password,jdbcType=VARCHAR} where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateNicknameById">
		update admin set nickname= #{nickname,jdbcType=VARCHAR} where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="update" parameterType="com.wxd.opencms.pojo.Admin">
		update admin set 
			MOBILE = #{mobile,jdbcType=VARCHAR},EMAIL = #{email,jdbcType=VARCHAR},PASSWORD = #{password,jdbcType=VARCHAR},
			NICKNAME = #{nickname,jdbcType=VARCHAR},TRUENAME = #{truename,jdbcType=VARCHAR},LOCKED = #{locked,jdbcType=DECIMAL},SUPER_ADMIN = #{superAdmin,jdbcType=DECIMAL}
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="locked">
		update admin set LOCKED = #{flag,jdbcType=DECIMAL} where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Integer" >
		delete from admin where ID = #{id,jdbcType=INTEGER}
	</delete>
</mapper>